/* App.css */
 :root{
     font-family: "DM Sans", sans-serif;
 }
 .subheading{
    font-family: "Merriweather", serif;
 }
 html {
  scroll-behavior: smooth;
}
.custom-header-links:hover{
    color: red !important;
    text-underline-offset: 1px !important;
}
.custom-nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  transition: color 0.3s;
}

.custom-nav-link:hover {
  color: #dc3545; /* /red color */
  text-decoration: none;
}
.hero-slide {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}


