/* theme colors */
:root {
  --primary: #dc3545;
  --secondary: #2e2f43;
  --text-color: #2b2b2b;
}

/* footer */
.footer {
  background-color: #1c1b2a;
  color: #8e91a2;
}
.footer .carousel-control-prev-icon,
.footer .carousel-control-next-icon {
  height: 15px;
  width: 15px;
}
.footer .carousel-inner {
  height: 220px;
  max-width: 300px;
  background-color: var(--secondary);
}
/* Header */
.top-header {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.top-header-transition,
.main-navbar-transition {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.top-header-transition.hide,
.main-navbar-transition.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar .nav-link:hover {
  color: var(--primary); 
}
.transparent-navbar {
  background-color: transparent;
  transition: background-color 0.4s ease, top 0.4s ease;
}

.sticky-navbar-transition {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.sticky-navbar-transition.show {
  transform: translateY(0);
  opacity: 1;
}
.transparent-navbar,
.sticky-navbar-transition {
  transition: all 0.5s;
}
/* hero*/
.hero-slide {
  min-height: 90vh;
  background-size: cover;
  transition: transform 5s ease;
}
.carousel-item.active .hero-slide {
  transform: scale(1.05);
}
.overlay {
  inset: 0;
}
.overlays {
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}
.hero-content {
  animation: slideUp 1s ease-out forwards;
  transform: translateY(100px);
}
.carousel-item.active .hero-content {
  animation: slideUp 1s ease-out forwards;
}
.hero-section {
  height: 110vh; 
}
.hero-slide {
  height: 110vh;
}
/*about*/
.about-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-circle {
  width: 300px;
  height: 300px;
}
.about-slide-content {
  position: absolute;
  left: 100%;
  opacity: 0;
  transition: all 0.8s ease-in-out;

}
.about-slide-content.active {
  left: 0;
  opacity: 1;
  z-index: 2;
}
.about-part {
  background: url("../Images/about.png") no-repeat;
  background-size: 50% auto;
}
.about-left,
.about-right {
  min-height: 470px;
}
.about-slide-content.exiting {
  left: -100%;
  opacity: 0;
  z-index: 1;
}
/*service*/
.service-section .slide-container {
  background: url("../Images/service-bg-2.jpg") center/cover no-repeat;
}
.service-section {
  background-color: #efeff4;
  min-height: 700px;
}
.service-icon-wrapper {
  width: 110px;
  height: 110px;
  background: rgba(255, 255, 255, 0.4);
  top: 7.1px;
}
.service-card:hover .plus-icon {
  color: var(--primary);
}
.service-icon-wrapper::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: rgba(201, 5, 5, 0.6);
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  clip-path: inset(50% 0 0 0); /* top 50% hidden */
  z-index: 1;
}
.service-icon-wrappers {
  width: 80px;
  height: 80px;
}
.service-card:hover .service-icon-wrapper::after {
  transform: scale(1.4);
  opacity: 1;
}
body,
html {
  overflow-x: hidden;
}
.service-icon {
  width: 40px;
}
.service-image-container {
  height: 350px;
}
.service-plus {
  background-color: #efeff4;
  height: 80px;
  width: 80px;
  top: -35px;
  margin-left: 110px;
  transform: rotate(45deg);
}
.plus-icon {
  top: -118px;
  margin-left: 140px;
  font-size: 34px;
  color: #bbb;
}
.service-icon-wrapper i {
  color: var(--primary);
}
.service-card-body {
  height: 150px;
}
/*team*/
.team-cardbody {
  margin-top: -50px;
  max-width: 90%;
}
/*contact*/
.contact-card {
  transition: background 0.8s ease, color 0.8s ease;
}
/*download*/
.downloads-scroll::-webkit-scrollbar {
  height: 8px;
}
.downloads-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.downloads-scroll::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.download-cards {
  margin-top: 180px;
}
.downloads-scroll {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}
.download-section .slide-container {
  background: url("../Images/bg2.jpg") center/cover no-repeat;
  min-height: 500px;
}
.download-section .slide-transition {
  animation: slideFade 1s ease-in-out;
}
.download-btn {
  margin-bottom: -44px;
}
.downloads-section {
  position: relative;
  overflow: hidden;
}
.downloads-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../Images/downbg.jpg"); /* replace with your correct path */
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* controls your background transparency */
  z-index: 0;
}
.download-icon {
  width: 40px;
}
/*accordion*/
.accordion-section .accordion-header {
  border-bottom: 1px solid #dee2e6;
  cursor: pointer;
}
.accordion-icon.active {
  color: var(--primary);
}
.accordion-list {
  max-height: 160px;
  overflow-y: auto;
}
.check-icon {
  margin-right: 8px;
  color: #ccc;
}
.check-icon.active {
  color: var(--primary);
}
.item-text {
  color: #777;
  font-size: 15px;
}
.item-text.active {
  color: #444;
}
.accordion-list::-webkit-scrollbar {
  width: 6px;
}
.accordion-list::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.4);
  border-radius: 3px;
}
.department-icon-img {
  width: 50px;
}
.department-title {
  width: 250px;
  bottom: 40px;
}
.department-titles {
  width: 250px;
  bottom: -90px;
  height: 120px;
}
.department-card:hover + .department-title {
  opacity: 0;
  transition: opacity 0.3s;
}
.department-scroll-container .d-flex::-webkit-scrollbar {
  display: none;
}
.department-scroll-container .d-flex {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.department-scroll-container .d-flex {
  scroll-snap-type: x mandatory;
}
.department-scroll-container .d-flex > div {
  scroll-snap-align: start;
}
.department-icon-overlay {
  width: 110px;
  height: 110px;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 200px;
}
.department-icon-overlays {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 13px;
}
.department-carousel-bars .bar {
  width: 30px;
  height: 4px;
  background-color: #ddd;
  cursor: pointer;
  transition: all 0.3s;
}
.department-carousel-bars .bar.active {
  background-color: var(--primary);
}
.department-carousel-bars .bar:hover {
  transform: scale(1.2);
  background-color: var(--primary);
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}
.department-icon-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.department-section {
  height: 750px;
}
.department-hover-overlay {
  transform: translateY(30px);
  transition: transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.8s;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.department-hover-overlay .hover-read {
  font-size: 14px;
}
.department-card:hover .department-hover-overlay {
  transform: translateY(0);
  opacity: 1;
}
.department-hover-icon-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.department-hover-icon {
  width: 110px;
  height: 110px;
  background: rgba(203, 6, 6, 0.7);
  margin-left: 33%;
  margin-top: 20px;
}
.department-hover-icons {
  width: 80px;
  height: 80px;
  background: var(--primary);
}
.department-card:hover .department-icon-overlay,
.department-card:hover .department-title {
  opacity: 0;
  transition: opacity 0.4s;
}
.department-card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.department-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.department-bg-left {
  width: 35%;
  height: 100%;
  background-image: url("../Images/shape-8.png");
}
.department-bg-right {
  width: 35%;
  background-image: url("../Images/shape-9.png");
}
.department-hover-overlay {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.department-card:hover .department-hover-overlay {
  transform: translateY(0);
  opacity: 1;
}
.department-card:hover .department-icon-overlay,
.department-card:hover .department-title {
  opacity: 0;
  transition: opacity 0.4s;
}
.scrollbar-track {
  overflow: hidden;
}
#scrollbar-thumb {
  transition: top 0.2s ease;
}
.scrollbar-container-custom {
  right: 0.5rem;
}
.scrollbar-track-custom {
  flex-grow: 1;
  width: 4px;
  background: #ccc;
  height: 80%;
}
.scrollbar-thumb-custom {
  height: 30px;
}
.scrollbar-container-custom .btn {
  transition: background-color 0.3s, color 0.3s;
}
.scrollbar-container-custom .btn:hover {
  background-color: var(--primary);
  color: white;
  outline: var(--primary);
}
.scrollbar-container-custom .btn-down {
  margin-bottom: -40px; 
}
/*video*/
.video-container {
  cursor: pointer;
}
.play-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.play-overlay:hover {
  opacity: 1;
}
/* Title & subtitle styling */
#VideoAccordion .section-subtitle {
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
#VideoAccordion .section-title {
  font-weight: 700;
  margin-bottom: 1rem;
}
#VideoAccordion .star {
  margin: 0 0.25rem;
}
/* Left video styles */
.video-thumbnail-container {
  cursor: pointer;
}
.play-overlay i {
  color: white;
  font-size: 4rem;
  position: relative;
  z-index: 3;
}
.play-overlay::before,
.play-overlay::after,
.play-overlay .wave {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  z-index: 1;
}
.play-overlay::before {
  animation: wave 3s infinite;
}
.play-overlay::after {
  animation: wave 3s infinite 1s;
}
.play-overlay .wave {
  animation: wave 3s infinite 2s;
}
.video-responsive {
  padding-bottom: 56.25%;
  height: 0;
}
.card-body h6 {
  transition: color 0.3s ease;
}
.card-body h6:hover {
  color: var(--primary);
  cursor: pointer;
}
.card-body h6 {
  transition: color 0.3s ease;
}
.hover-card {
  transition: box-shadow 0.4s ease;
}
.hover-card .card-body {
  transition: transform 0.4s ease;
}
.hover-card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.hover-card:hover .card-body {
  transform: translateY(-10px);
}
.hover-card:hover .icon {
  display: none;
}
/* scroll topup*/
.scroll-to-top {
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  transition: transform 0.9s ease, opacity 0.9s ease;
  color: var(--text-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  transform: translateY(-800px); 
  pointer-events: none;
}
.scroll-to-top.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.scroll-to-top:hover {
  color: var(--primary);
}
.custom-social-icon {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
  background-color: #0000001a !important;
  margin-left: 5px;
}
.custom-social-icon:hover {
  background-color: white !important;
  color: var(--primary) !important;
}
#eventCarousel {
  position: relative;
}
.overlay-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.2));
}
.image-container img {
  transition: transform 0.5s ease-in-out;
}
.image-container:hover img {
  transform: scale(1.1);
}
.overlay-badge {
  top: 10px;
  right: 10px; 
}
.slide-container {
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.hover-card .extra-contact {
  display: none;
}
.hover-card:hover .extra-contact {
  display: block;
}
.custom-arrow {
  width: 65px;
  height: 65px;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.carousel-control-prev {
  left: 20px;
}
.carousel-control-next {
  right: 20px;
}
.divider {
  width: 60px;
  height: 3px;
  background-color: var(--primary);
}
.dividerr {
  width: 60px;
  height: 3px;
  background-color: white;
}
.input-group {
  min-height: 70px;
}
.icon-img {
  width: 50px;
  height: 50px;
}
.description {
  color: #6c757d;
  font-size: 16px;
  min-height: 50px;
}
.line {
  width: 30px;
  height: 2px;
  background: white;
  margin: 0.5rem auto;
}
.read-more {
  font-size: 14px;
}
#home,
#service,
#team,
#news,
#contact,
#about {
  scroll-margin-top: 80px;
}
@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}
@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 576px) {
  .team-card {
    flex: 0 0 80%;
  }
  .scrollbar-container-custom {
    margin-left: 40px;
  }
}

/* Responsive text */

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h2 {
    font-size: 1.25rem;
  }
  .hero-content p {
    font-size: 0.95rem;
  }
  .custom-arrow {
    top: 60%;
  }
  .input-group {
    max-width: 320px;
  }
  .service-plus {
    margin-left: 42%;
  }
  .plus-icon {
    margin-left: 49%;
  }
  .sticky-navbar-transition {
    top: -25px;
    padding-top: 30px;
  }
  .custom-social-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    background-color: #0000001a !important;
    color: black !important;
    margin-left: 5px;
  }
  .custom-social-icon:hover {
    background-color: white !important;
    color: var(--primary) !important;
  }
  .about-part {
    background-size: 100% auto;
  }
}
@media (min-width: 1024px) {
  .overlap-carousel {
    margin-left: -140px; /* adjust this value to control how much overlap */
    z-index: 2;
  }
  .subscribe-form {
    width: 100%;
  }
}
@media (min-width: 1650px) {
  .overlap-carousel {
    flex: 0 0 55%; /* like col-xl-9 */
    max-width: 45%;
  }
}
